<template>
  <footer class="p-4 bg-gray-800 shadow md:px-6 md:py-8">
    <span class="block text-sm text-gray-400 sm:text-center">
      &copy; {{ copyrightYear }} designed by
      <a href="https://www.linkedin.com/in/akobal/" class="hover:underline">Andrian Kobal</a>.
    </span>
  </footer>
</template>

<script>
  export default {
    name: 'FooterView',
    data() {
      return {
        copyrightYear: new Date().getFullYear(),
      };
    },
    computed: {
      getCopyrightYear() {
        return new Date().getFullYear();
      },
    },
  };
</script>

<style lang="scss" scoped></style>
