<template>
  <header class="min-h-full">
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img
                class="h-8 w-8"
                src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
                alt="Your Company"
              />
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <router-link
                  v-if="
                    this.$store.state.authorization === false ||
                    this.$store.state.authorization === null
                  "
                  to="/"
                  class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                  aria-current="page"
                  @click="
                    this.$store.commit('updatePayload', ['authorization', null])
                  "
                >
                  Log In
                </router-link>
                <router-link
                  v-if="this.$store.state.authorization === true"
                  to="/home"
                  class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                  aria-current="page"
                >
                  Dashboard
                </router-link>

                <button
                  v-if="this.$store.state.authorization === true"
                  @click="showAddTask"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                >
                  Add todo
                </button>
              </div>
            </div>
          </div>
          <div
            class="hidden md:block"
            v-if="this.$store.state.authorization === true"
          >
            <div class="ml-4 flex items-center md:ml-6">
              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button
                    type="button"
                    class="flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                    id="user-menu-button"
                    aria-expanded="false"
                    aria-haspopup="true"
                    @click="showProfile()"
                  >
                    <span class="sr-only">Open user menu</span>
                    <img
                      class="h-8 w-8 rounded-full"
                      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                      alt=""
                    />
                  </button>
                </div>
                <div
                  class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="user-menu-button"
                  tabindex="-1"
                  v-if="this.profile"
                >
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <p
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-0"
                  >
                    Name: {{ this.$store.state.profile.name }}
                  </p>
                  <p
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-0"
                  >
                    Login: {{ this.$store.state.profile.username }}
                  </p>
                  <p
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-1"
                  >
                    Email: {{ this.$store.state.profile.email }}
                  </p>

                  <p
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-2"
                  >
                    Phone: {{ this.$store.state.profile.phone }}
                  </p>
                  <p
                    class="block px-4 py-2 text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-2"
                  >
                    Website: {{ this.$store.state.profile.website }}
                  </p>
                   <router-link
                  v-if="this.$store.state.authorization === true"
                  to="/"
                  class=" block bg-gray-900 text-white text-center px-3 py-2 rounded-md text-sm font-medium"
                  aria-current="page"
                  @click="showProfile()"
                >
                  Log Out
                </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <!-- Mobile menu button -->
            <button
              type="button"
              class="inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              aria-controls="mobile-menu"
              aria-expanded="false"
              @click="openMainMenu()"
            >
              <span class="sr-only">Open main menu</span>
              <!--
              Heroicon name: outline/bars-3

              Menu open: "hidden", Menu closed: "block"
            -->
              <svg
                class="block h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
              <!--
              Heroicon name: outline/x-mark

              Menu open: "block", Menu closed: "hidden"
            -->
              <svg
                class="hidden h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div
        :class="[mobileMenu ? 'block' : 'hidden', 'md:hidden']"
        id="mobile-menu"
      >
        <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <router-link
            v-if="
              this.$store.state.authorization === null ||
              this.$store.state.authorization === false
            "
            to="/"
            class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
            aria-current="page"
            @click="
              this.$store.commit('updatePayload', ['authorization', null])
            "
          >
            Log In
          </router-link>
          <router-link
            v-if="this.$store.state.authorization === true"
            to="/home"
            class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
            aria-current="page"
          >
            Dashboard
          </router-link>

          <router-link
            to="/home"
            v-if="this.$store.state.authorization === true"
            @click.prevent="showAddTask"
            class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            x-state-description='undefined: "bg-gray-900 text-white", undefined: "text-gray-300 hover:bg-gray-700 hover:text-white"'
          >
            Add todo
          </router-link>
        </div>
        <div
          class="border-t border-gray-700 pt-4 pb-3"
          v-if="this.$store.state.authorization === true"
        >
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <img
                class="h-10 w-10 rounded-full"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
              />
            </div>
            <div class="ml-3">
              <div class="text-base font-medium leading-none text-white">
                Name: {{ this.$store.state.profile.name }}
              </div>
              <div class="text-base font-medium leading-none text-white">
                Login: {{ this.$store.state.profile.username }}
              </div>
              <div class="mt-3 text-sm font-medium leading-none text-gray-400">
                Email: {{ this.$store.state.profile.email }}
              </div>
              <div class="text-sm font-medium leading-none text-gray-400">
                Phone: {{ this.$store.state.profile.phone }}
              </div>
              <div class="text-sm font-medium leading-none text-gray-400">
                Website: {{ this.$store.state.profile.website }}
              </div>
             <router-link
                  v-if="this.$store.state.authorization === true"
                  to="/"
                  class="mt-6 bg-gray-900 block text-white px-3 py-2 rounded-md text-sm font-medium text-center"
                  aria-current="page"
                  @click="showProfile()"
                >
                  Log Out
                </router-link>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
  export default {
    name: 'HeaderView',
    data() {
      return {
        mobileMenu: false,
        profile: false,
        addTodo: false,
      };
    },
    methods: {
      openMainMenu() {
        this.mobileMenu = !this.mobileMenu;
      },
      showProfile() {
        this.profile = !this.profile;
      },
      showAddTask() {
        this.$router.push('/home');
        this.addTodo = !this.addTodo;
        this.$store.dispatch('showAddTodo', this.addTodo);
      },
    },
  };
</script>

<style lang="scss" scoped></style>
