<template>
  <div
    class="flex min-h-full items-center justify-center py-6 px-4 sm:px-6 lg:px-8"
  >
    <div
      class="grid grid-flow-row-dense grid-rows-3 grid-cols-3 gap-4 md:grid-rows-2 md:grid-cols-4"
    >
      <h3
        class="row-span-1 col-span-3 md:col-span-4 h-fit text-xl font-medium text-gray-900"
      >
        Profile
      </h3>
      <div class="row-span-2 col-span-2 md:row-span-1">
        <label for="first-name" class="block text-sm font-medium text-gray-700">
          Search by title
        </label>
        <input
          type="text"
          name="title"
          id="title"
          class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Search"
          v-model.trim="title"
        />
      </div>
      <div class="row-span-1 md:row-span-1">
        <label for="users" class="block text-sm font-medium text-gray-700">
          Filter by users
        </label>
        <select
          id="users"
          name="users"
          class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          v-model="selectedUser"
        >
          <option value="all">All</option>
          <option
            v-for="(userID, index) in filterUsersId"
            :key="index"
            :value="userID"
          >
            {{ userID }}
          </option>
        </select>
      </div>
      <div class="row-span-2 md:row-span-1">
        <label for="users" class="block text-sm font-medium text-gray-700">
          Filter by completed tasks
        </label>
        <select
          id="completed"
          name="completed"
          autocomplete="country-name"
          class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          v-model="selectedStatus"
        >
          <option
            v-for="(status, index) in filterStatus"
            :key="index"
            class="capitalize"
            :value="status"
          >
            {{
              (status =
                status.toString().charAt(0).toUpperCase() +
                status.toString().slice(1))
            }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col min-h-full w-fit m-auto items-center justify-center py-6 px-4 sm:px-6 lg:px-8 ounded-md border-2 border-dashed border-gray-300"
    v-if="this.$store.state.addTodo"
  >
    <!-- <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6"> -->
    <h3 class="h-fit text-xl font-medium text-gray-900 mb-6">Add todo</h3>
    <form class="space-y-6" @submit.prevent="submitAddTodo">
      <div
        class="-space-y-px rounded-md shadow-sm grid grid-flow-col grid-rows-3 grid-cols-1 gap-x-8 gap-y-0 md:grid-rows-2 md:grid-cols-2"
      >
        <div class="">
          <label for="name" class="sr-only">User ID</label>
          <input
            id="userId"
            name="userId"
            type="name"
            autocomplete="off"
            class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="User ID"
            v-model.trim="userID"
          />
        </div>
        <div class="">
          <label for="phone" class="sr-only">Title</label>
          <input
            id="title"
            name="title"
            type="text"
            autocomplete="off"
            required
            class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Title"
            v-model.trim="userTitle"
          />
        </div>
        <div class="md:row-span-2 block">
          <label
            for="completed"
            class="block text-sm font-medium text-gray-700"
          >
            Completed task
          </label>
          <div class="relative mt-1 rounded-md shadow-sm">
            <select
              id="completed"
              name="completed"
              class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              v-model="userStatus"
            >
              <option
                v-for="(status, index) in [true, false]"
                :key="index"
                class="capitalize"
                :value="status"
              >
                {{
                  (status =
                    status.toString().charAt(0).toUpperCase() +
                    status.toString().slice(1))
                }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <!-- Heroicon name: mini/lock-closed -->
            <svg
              class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          Add Todo
        </button>
      </div>
    </form>
  </div>

  <section
    class="flex min-h-full items-center justify-center py-6 px-4 sm:px-6 lg:px-8"
  >
    <div class="relative">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="py-3 px-3">Id</th>
            <th scope="col" class="py-3 px-3">UserId</th>
            <th scope="col" class="py-3 px-3">Title</th>
            <th scope="col" class="py-3 px-3">Completed</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="this.filterTodos.length > 0">
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
              v-for="(todo, index) in this.filterTodos"
              :key="index"
            >
              <td
                scope="row"
                class="py-4 px-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ todo.id }}
              </td>
              <td class="py-4 px-3">
                {{ todo.userId }}
              </td>
              <td class="py-4 px-3">{{ todo.title }}</td>
              <td class="py-4 px-3">{{ todo.completed }}</td>
            </tr>
          </template>
          <template v-if="this.filterTodos.length == 0">
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td
                scope="row"
                class="py-4 px-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Results not found :(
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'HomeView',
    data() {
      return {
        todoLists: this.$store.state.todoList,
        title: '',
        filterStatus: ['all', true, false],
        filterUsers: [],
        selectedUser: 'all',
        selectedStatus: 'all',
        userID: this.$store.state.profile.userId,
        userTitle: '',
        userStatus: false,
      };
    },
    methods: {
      submitAddTodo() {
        let addTodo = {
          id: this.getTodoLists.length + 1,
          userId: this.userID,
          title: this.userTitle,
          completed: this.userStatus,
        };
        this.$store.dispatch('addTodo', addTodo);
        this.$store.dispatch('showAddTodo', false);
      },
    },
    computed: {
      getTodoLists() {
        let todoLists = this.$store.state.todoList;
        return todoLists;
      },
      filterUsersId() {
        let usersID = this.getTodoLists.map((post) => post.userId);
        usersID = new Set(usersID);
        return usersID;
      },
      filterTodos() {
        return this.getTodoLists.filter((post) => {
          if (this.title == '') {
            if (this.selectedUser == 'all' && this.selectedStatus == 'all') {
              return post;
            } else if (
              post.userId == this.selectedUser &&
              post.completed === this.selectedStatus
            ) {
              return post;
            } else if (
              this.selectedUser == 'all' &&
              post.completed === this.selectedStatus
            ) {
              return post;
            } else if (
              this.selectedStatus == 'all' &&
              post.userId === this.selectedUser
            ) {
              return post;
            }
          } else {
            if (
              post.title.includes(this.title) &&
              this.selectedUser == 'all' &&
              this.selectedStatus == 'all'
            ) {
              return post;
            } else if (
              post.title.includes(this.title) &&
              post.userId == this.selectedUser &&
              post.completed === this.selectedStatus
            ) {
              return post;
            } else if (
              post.title.includes(this.title) &&
              this.selectedUser == 'all' &&
              post.completed === this.selectedStatus
            ) {
              return post;
            } else if (
              post.title.includes(this.title) &&
              this.selectedStatus == 'all' &&
              post.userId == this.selectedUser
            ) {
              return post;
            }
          }
        });
      },
    },
    mounted() {
      this.todoLists = this.$store.state.todoList;
    },
  };
</script>
