<template>
  <section
    v-if="
      this.$store.state.authorization === null ||
      this.$store.state.authorization === true
    "
    class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="w-full max-w-md space-y-8">
      <div>
        <img
          class="mx-auto h-12 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
          alt="Your Company"
        />
        <h2
          class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
        >
          Sign in to your account
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Or
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"
            >start your 14-day free trial</a
          >
        </p>
      </div>
      <form class="mt-8 space-y-6" @submit.prevent="submitHandler">
        <input type="hidden" name="remember" value="true" />
        <div class="-space-y-px rounded-md shadow-sm">
          <div>
            <label for="name" class="sr-only">User name</label>
            <input
              id="name"
              name="name"
              type="name"
              autocomplete="off"
              class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              placeholder="User name"
              v-model.trim="name"
              :class="{
                invalid:
                  (this.v$.$dirty && this.v$.name.required.$invalid) ||
                  (this.v$.$dirty && this.v$.name.minLength.$invalid) ||
                  (this.v$.$dirty && this.v$.name.validateName.$invalid),
              }"
            />
            <small
              v-if="this.v$.$dirty && this.v$.name.required.$invalid"
              class="helper-text invalid"
            >
              Name must to be not empty.
            </small>
            <small
              v-if="this.v$.$dirty && this.v$.name.minLength.$invalid"
              class="helper-text invalid"
            >
              Name must contain at least 2 symbols and must be equal to this
              pattern: Bret
            </small>
            <small
              v-if="this.v$.$dirty && this.v$.name.validateName.$invalid"
              class="helper-text invalid"
            >
              Name must contain just from alphabet symbols and must be equal to
              this pattern: Bret
            </small>
          </div>
          <div>
            <label for="phone" class="sr-only">Phone</label>
            <input
              id="phone"
              name="phone"
              type="text"
              autocomplete="off"
              required
              class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              placeholder="Phone number"
              v-model.trim="phone"
              :class="{
                invalid:
                  (this.v$.$dirty && this.v$.phone.required.$invalid) ||
                  (this.v$.$dirty && this.v$.phone.minLength.$invalid),
              }"
            />
            <small
              v-if="this.v$.$dirty && this.v$.phone.required.$invalid"
              class="helper-text invalid"
            >
              Phone must to be not empty
            </small>
            <small
              v-if="this.v$.$dirty && this.v$.phone.minLength.$invalid"
              class="helper-text invalid"
            >
              Phone must contain at least 2 symbols
            </small>
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <!-- Heroicon name: mini/lock-closed -->
              <svg
                class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            Sign in
          </button>
        </div>
      </form>
    </div>
  </section>
  <ErrorComponent />
</template>

<script>
  import { useVuelidate } from '@vuelidate/core';
  import { required, helpers, minLength } from '@vuelidate/validators';
  import ErrorComponent from '@/components/ErrorComponent.vue';

  const validateName = helpers.regex(/^[a-zA-Z\s]+$/);

  export default {
    name: 'LoginView',
    components: { ErrorComponent },
    data() {
      return {
        v$: useVuelidate(),
        name: 'Bret',
        phone: '',
      };
    },
    validations() {
      return {
        name: { required, minLength: minLength(2), validateName },
        phone: { required, minLength: minLength(2) },
      };
    },

    methods: {
      async submitHandler() {
        this.v$.$validate();
        if (!this.v$.$error) {
          const formData = {
            username: this.name,
            phone: this.phone,
          };
          await this.$store.dispatch('login', {
            username: formData.username,
            phone: formData.phone,
          });
        } else {
          return;
        }
      },
    },
  };
</script>

<style lang="scss" scoped>
  input.invalid {
    border: 1px solid red;
    color: red;
  }
  small.invalid {
    padding: 10px 0;
    color: red;
  }
</style>
