<template>
  <HeaderView />
  <main>
    <router-view />
  </main>
  <FooterView />
</template>
<script>
  import HeaderView from '@/views/HeaderView.vue';
  import FooterView from '@/views/FooterView.vue';
  export default {
    name: 'App',
    components: { HeaderView, FooterView },
  };
</script>

<style lang="scss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  main {
    min-height: calc(100vh - 148px);
  }
  @media screen and (max-width:768px) {
    main {
      min-height: calc(100vh - 116px);
    }
  }
</style>
